* {
    box-sizing: border-box;
}

/* defining our style colors ------------------------------------------------------------------------------------------------------------------*/

:root {
    --text: #777777;
    --accent: #4aaaa5;

    --neutral: #ffffff;
    --dark: #666666;

    --border-light: #dddddd;
    --border-dark: #cccccc;    
}

/* setting up page ----------------------------------------------------------------------------------------------------------------------------*/

/* main 3 */
body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;

    line-height: 2rem;

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--text);
    background-image: url("../images/memphis-mini.png");
}

header{ 
    background-color: var(--neutral);
    border: 1px solid var(--border-dark);
}

.footer{
    width: 100%;
    padding: 25px 0px 5px 0px;

    background-color: var(--dark);
    color: var(--neutral);
    border-top: 8px solid var(--accent);
}

/* ---------- nav area */
.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}

/* ---------- main content area */
.content{
    padding: 25px;
    margin: 30px auto;

    border: 1px solid var(--border-light);
    background-color: var(--neutral);
}

/* ---------- link defaults */
a {
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--border-dark);
}

/* defining classes ---------------------------------------------------------------------------------------------------------------------------*/

/* style */
.font-main {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.font-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bold-text{
    font-weight: bold;
}


/* display */
.flex-column {
    display: flex;
    flex-direction: column;
}

.centered-text {
    text-align: center;
}

.pushed-bottom {
    margin-top: auto;
}

.content-width {
    width: 960px;
}

.max-width{
    width: 100%;
}

/* style sets*/
.style-banner { /* used for developer name, portfolio card text, and submit button */
    background-color: var(--accent);
    color: var(--neutral);
    padding: 4%;
    /* padding: 1em; */
}

.content-title { /* used for content headers */
    margin: 0 0 25px 0;
    padding-bottom: 20px;

    color: var(--accent) ;
    border-bottom: 1px solid var(--border-light);
}

.nav-links a { /* nav stuff */
    padding: 0 15px;
    border-right: 1px solid var(--border-light);
}
.nav-links a:last-child {
    border-right: none;
}

/* overrides */
.page-title {
    margin-bottom: 0;
    padding: 20px;
}

.alt-link {
    color: var(--text);
}

.alt-link:hover {
    color: var(--accent) ;
    text-decoration: none;
}

.alt-link:active{
    color: var(--neutral) ;
}


/* specific page styling -------------------------------------------------------------------------------------------------------------------*/

/* ---------- stuff for about */

.about-pic {
    float: left;

    margin: 0 15px 15px 0;
    width: 200px;

    background-position: center;
    background-image: url("../images/lee.jpg");
}


/* ---------- stuff for portfolio */

.flexbox-wrap { 
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    margin: auto;
}

.card{
    margin: 15px 30px 15px 0;
    padding: 15px 0;

    height: 250px;
    width: 35%;

    font-size: 1.3rem;

    background-position: bottom;
}

/* card pictures */
#hangman{
    background-image: url("../images/laptop-glasses.jpg");
}
#rpg-game{
    background-image: url("../images/laptop-icons.jpg");
}
#trivia-game{
    background-image: url("../images/laptop-notes.jpg");
}
#ru-info-widget{
    background-image: url("../images/laptop-phone.jpg");
}
#rock-paper-scissors{
    background-image: url("../images/laptop-touchscreen.jpg");
}


/* ---------- stuff for contact */
input.max-width {
    height: 30px ;
}

textarea {
    height: 250px;
    resize: none;
}


/* button styling */
#submit-button {
    all: unset;
    background-color: #4aaaa5;
    margin-top: 15px; 
    padding: 3px 25px;
    color: #ffffff;
}

#submit-button:hover {
    color: rgba(255, 255, 255, 0.5);
}

#submit-button:focus {
    opacity: 75% ;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */